[Desktop Entry]
Type=Service
Encoding=UTF-8
Icon=deadbeef
InitialPreference=1
Actions=Enqueue
X-KDE-Priority=TopLevel
ServiceTypes=KonqPopupMenu/Plugin,audio/*,application/ogg;audio/x-vorbis+ogg;application/x-ogg;

[Desktop Action Enqueue]
Exec=deadbeef --queue %F
Icon=deadbeef
Name=Enqueue in DeaDBeeF

