[Desktop Entry]
Type=Service
Encoding=UTF-8
#Icon=kgpg
InitialPreference=2
Actions=Rename;
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles,inode/directory,inode/directory-locked

[Desktop Action Rename]
Exec=wine /mnt/windata/Program\\ Files/ReNamer/ReNamer.exe %F
#Icon=accessories-text-editor
Name=Rename with ReNamer...

