[Desktop Entry]
Type=Service
Icon=dolphin
#ServiceTypes=all/all
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles,inode/directory,inode/directory-locked

Actions=Open_With;_SEPARATOR_;Extract_Here;Extract_Sub;Extract_files;_SEPARATOR_;QuickCompress;Compress_files;_SEPARATOR_;Repair
X-KDE-Submenu=WineRar
X-KDE-Priority=TopLevel



[Desktop Action Open_With]
Name=Open with Winrar
Name[it]=Apri con Winrar
Name[es]=Abrir con Winrar
Name[fr]=Ouvrir avec Winrar
Name[pl]=Otwórz w Winrar
Icon=application-x-7z-compressed
Exec=wine "c:\\program files\\winrar\\winrar" "`winepath -w %f`"



[Desktop Action Extract_Here]
Name=Extract Here
Name[it]=Estrai Qui
Name[es]=Extraer Aquì
Name[fr]=Extraire ici
Name[pl]=Wypakuj tutaj
Icon=application-x-7z-compressed
Exec=cd %D ; rm -R ./.winerartmp;mkdir ./.winerartmp/;ln -s %F ./.winerartmp;wine "c:\\program files\\winrar\\winrar" x -iext -ow -ver  "`winepath -w ./.winerartmp/`*.*" "`winepath -w ./`" ; rm -R ./.winerartmp



[Desktop Action Extract_Sub]
Name=Extract to Subfolders
Name[it]=Estrai nelle sottocartelle
Name[es]=Extraer en Subcarpeta
Name[fr]=Extraire dans des sous répertoires
Name[pl]=Wypakuj do folderu
Icon=application-x-7z-compressed
Exec=cd %D ; rm -R ./.winerartmp;mkdir ./.winerartmp/;ln -s %F ./.winerartmp;wine "c:\\program files\\winrar\\winrar" x -ow -ver -ad "`winepath -w ./.winerartmp/`*.*" "`winepath -w ./`" ; rm -R ./.winerartmp



[Desktop Action Extract_files]
Name=Extract Files...
Name[it]=Estrai...
Name[es]=Extraer Archivos en...
Name[fr]=Extraire les fichiers...
Name[pl]=Wypakuj pliki...
Icon=application-x-7z-compressed
Exec=cd %D ; rm -R ./.winerartmp;mkdir ./.winerartmp/;ln -s %F ./.winerartmp;wine "c:\\program files\\winrar\\winrar" x -iext -ow -ver -- "`winepath -w ./.winerartmp/`*.*" '?\' ; rm -R ./.winerartmp



[Desktop Action QuickCompress]
Name=Quick Compress
Name[it]=Compressione veloce
Name[es]=Compresiòn Ràpida
Name[fr]=Compression rapide
Name[pl]=Szybka kompresja
Icon=application-x-7z-compressed
Exec=export IFS=$'\n' ;cd %D ; rm -R ./.winerartmp;mkdir ./.winerartmp/;ln -s %F ./.winerartmp;wine "c:\\program files\\winrar\\winrar" a -r -ep1 -iext "`kdialog --inputbox 'Please, enter the archive name' $(basename "%F")  `".rar "`winepath -w ./.winerartmp/`*" ; rm -R ./.winerartmp



[Desktop Action Compress_files]
Name=Compress...
Name[it]=Comprimi...
Name[es]=Comprimir...
Name[fr]=Compression...
Name[pl]=Kompresuj...
Icon=application-x-7z-compressed
Exec=cd %D ; rm -R ./.winerartmp;mkdir ./.winerartmp/;ln -s %F ./.winerartmp;wine "c:\\program files\\winrar\\winrar" a -r -iext -ep1 -- . "`winepath -w ./.winerartmp/`*" ; rm -R ./.winerartmp



[Desktop Action Repair]
Name=Fix the Archive
Name[it]=Ripara l\'archivio
Name[es]=Reparar el Archivo
Name[fr]=Réparer l\'archive
Name[pl]=Napraw archiwum
Icon=application-x-7z-compressed
Exec=cd %D ;wine "c:\\program files\\winrar\\winrar" R "`winepath -w %f`"
