[Desktop Entry]
Categories=AudioVideo;Audio
Comment[en_US]=Secure CD audio ripper
Comment=Secure CD audio ripper
Exec=LANG=ja_JP.UTF-8 WINEPREFIX=/home/azure/.wine32 wine "/mnt/winsys/Users/Azure/Program Files/CUETools/CUERipper.exe"
GenericName[en_US]=
GenericName=
Icon=media-optical-audio
MimeType=
Name[en_US]=CUERipper
Name=CUERipper
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=2.1.5
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
